<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.5-1                                                            #
# (C)2004-2009 Will Green (wgreen at users.sourceforge.net)                  #
# Help default template                                                      #
##############################################################################
-->
<head>
	<title>RackMonkey Help</title>
	<style type="text/css" media="all">
	@import "<TMPL_VAR NAME=web_root>/styles/main.css";
	@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
	@import "<TMPL_VAR NAME=web_root>/styles/help.css";
	</style>
	<style type="text/css" media="print">
	@import "<TMPL_VAR NAME=web_root>/styles/print.css";	
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
	<link rel="icon" href="<TMPL_VAR NAME=web_root>/graphics/favicon.ico" />
</head>
<body>
	<TMPL_INCLUDE NAME="nav-help.ssi">
	<div id="main">
		<p id="help_nav">
			<strong>Help Overview</strong> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=user">User Guide</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=admin">Admin Guide</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=errors">Error Messages</a> |	
			<a href="http://www.rackmonkey.org/doc/1.2.5">Docs (online)</a> |
			<a href="http://www.rackmonkey.org/faq">FAQ (online)</a> |
			<a href="http://www.rackmonkey.org/issues">Bugs &amp; Issues (online)</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=getting_support">Getting Support</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=legal">Legal</a>
		</p>
		<h2>RackMonkey Help</h2>
		<p>
			Welcome to RackMonkey help. These pages are designed to get you working with RackMonkey quickly while demonstrating some of its key features.
			These documents are updated from time to time: you can always read the latest documentation at <a href="http://www.rackmonkey.org/doc/1.2.5">rackmonkey.org</a>. Links with (online) after them refer to the RackMonkey web site, so require an
			Internet connection.
		</p>
		<ul>
			<li><a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=user">User Guide</a> - How to get started with RackMonkey and make best use of the interface.</li>
			<li><a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=admin">Admin Guide</a> - Advice for administrators, including password protection and viewing the change log.</li>
			<li><a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=errors">Error Messages</a> - Extra information on some of error messages RackMonkey reports.</li>
			<li><a href="http://www.rackmonkey.org/doc/1.2.5">Docs (online)</a> - RackMonkey 1.2.5 documents on the RackMonkey web site.</li>
			<li><a href="http://www.rackmonkey.org/faq">FAQ (online)</a> - RackMonkey Frequently Asked Questions on the RackMonkey web site.</li>
			<li><a href="http://www.rackmonkey.org/issues">Bugs &amp; Issues (online)</a> - View bugs and known issues with RackMonkey on the RackMonkey web site.</li>
			<li><a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=getting_support">Getting Support</a> - How to get support for RackMonkey.</li>
			<li><a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=legal">Legal</a> - Copyright, licence and other legal information.</li>
		</ul>
	</div>
	<TMPL_INCLUDE NAME="footer.ssi">
</body>
</html>
