<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<!-- 
##############################################################################
# RackMonkey - Know Your Racks - http://www.rackmonkey.org                   #
# Version 1.2.5-1                                                            #
# (C)2004-2009 Will Green (wgreen at users.sourceforge.net)                  #
# Help default template                                                      #
##############################################################################
-->
<head>
	<title>Admin Guide | RackMonkey</title>
	<style type="text/css" media="screen">
	@import "<TMPL_VAR NAME=web_root>/styles/main.css";
	@import "<TMPL_VAR NAME=web_root>/styles/tabs.css";
	@import "<TMPL_VAR NAME=web_root>/styles/help.css";
	</style>
	<style type="text/css" media="print">
	@import "<TMPL_VAR NAME=web_root>/styles/print.css";	
	</style>
	<script type="text/javascript" src="<TMPL_VAR NAME=web_root>/javascript/racklib.js"></script>
	<link rel="icon" href="<TMPL_VAR NAME=web_root>/graphics/favicon.ico" />
</head>
<body>
	<TMPL_INCLUDE NAME="nav-help.ssi">
	<div id="main">
		<p id="help_nav">
			<a href="<TMPL_VAR NAME=base_url>?view=help">Help Overview</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=user">User Guide</a> |
			<strong>Admin Guide</strong> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=errors">Error Messages</a> |	
			<a href="http://www.rackmonkey.org/doc/1.2.5">Docs (online)</a> |
			<a href="http://www.rackmonkey.org/faq">FAQ (online)</a> |
			<a href="http://www.rackmonkey.org/issues">Bugs &amp; Issues (online)</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=getting_support">Getting Support</a> |
			<a href="<TMPL_VAR NAME=base_url>?view=help&amp;view_type=legal">Legal</a>
		</p>
		<h2>RackMonkey Admin Guide</h2>
		<p>
			For basic installation and configuration information see the install guide included with the RackMonkey download or
			view the <a href="http://www.rackmonkey.org/doc/1.2.5">online docs</a>.
		</p>
		<h3 class="no_print" style="margin-bottom: -4px">Contents</h3>
		<ol class="no_print">
		  <li><a href="#configuration_options">Configuration Options</a></li>
		  <li><a href="#restricting_access">Restricting Access and Recording Who Made Changes</a></li>
		  <li><a href="#change_log">Change Log</a></li>
		</ol>
		<h3><a id="configuration_options">1. Configuration Options</a></h3>
		<p>
		The RackMonkey configuration file (by default stored in /etc/rackmonkey.conf on the server) allows you to adjust the
		behaviour of RackMonkey. At present these values can't be set on a per-user basis, they apply to all users.
		</p>
		<h4>1.1. Rack Numbering Direction</h4>
		<p>
		  RackMonkey allows you to number racks from the top (highest position in the rack) or bottom. By default racks are numbered
		  from the bottom. If your racks are normally numbered from the top, change the value of <em>number_from_top</em> to 1 in the
		  config file:
		</p>
		<pre>number_from_top = 1</pre>
		<h4>1.2. Size of 1U in Physical Rack View</h4>
		<p>
		  The physical rack view uses HTML tables to draw a rack. By default a 1U table cell occupies 14px. If you want to make this larger or smaller
		  you can change the value of <em>size_of_u</em> to you preferred size in pixels. As the table contains graphics (for example the plus buttons
		  used to add new devices) there is a limit to how thin 1U will actually appear. To make 1U 20 pixels high set the following:
		</p> 
		<pre>size_of_u = 20</pre>
		<p>
		  This can also be used to solve issues where racks shown side-by-side
		  don't line up properly: this occurs because the graphics used in the interface may make rows larger than this minimum.
		  If your racks don't line up, try increasing this value by 1px and reloading the page. Repeat until your racks line up.
		</p>
		
		<h3 class="print_break"><a id="restricting_access">2. Restricting Access and Recording Who Made Changes</a></h3>
		<h4>2.1. Password Protecting RackMonkey</h4>
		<p>
			You can control access to RackMonkey using standard Apache auth (often configured in an .htaccess file).
			If you set up accounts this way RackMonkey will use the username in the change log so you can see who
			changed what and when (if you don't use accounts the IP is recorded instead).
			I recommend you create a separate account for each RackMonkey user, that way you'll know
			who updated what and when. For information on setting up authentication using Apache see:
			<a href="http://httpd.apache.org/docs/2.2/howto/auth.html">Apache Docs</a> (online).
		</p>
		<h4>2.2. Read Only Access</h4>
		<p>
			To allow a user read only access to RackMonkey create an account called 'guest' (with any password you choose).
			A guest account has full read access but cannot edit anything.
		</p>
		<h3><a id="change_log">3. Change Log</a></h3>
		<p>
			Every time a record is edited in RackMonkey the details of the change are recorded. 
			The time and user of the last change is visible at the bottom
			of an entry, something like 'Entry last updated by bob at 2007-02-15 13:22:56 GMT'.
			If you haven't set up accounts (see above), then the IP address of the user is shown instead.
		</p>
		<p>
			To see the full change log for RackMonkey you need to use the <em>logdump</em> command line tool. 
			Locate the perl directory from your RackMonkey install (contains the rackmonkey.pl script)
			and cd into it (the logdump script needs to be run from the perl directory), you can then
			run the logdump command to see all the changes. For example:
		</p>
<pre>$ cd /home/rackmonkey/perl
$ bin/logdump
       Table Action                Name     ID    Changed (GMT)     Changed By
===============================================================================
         app insert                 Foo      1 2008-07-02 20:07             ::1
      device update                 mon      5 2008-07-07 11:10             ::1
      device update                 db2      4 2008-07-07 11:10             ::1
      device insert                 foo     10 2008-07-07 11:11             ::1
      device delete                   -     10 2008-07-07 11:11             ::1
===============================================================================
</pre>
		<p>
			You can see more options by running <em>logdump -h</em>. 
			In a later release this information will be available via the web interface.
		</p>
	</div>
	<TMPL_INCLUDE NAME="footer.ssi">
</body>
</html>
